# The directory Mix will write compiled artifacts to.
/smart_home_backend/_build/

# If you run "mix test --cover", coverage assets end up here.
/smart_home_backend/cover/

# The directory Mix downloads your dependencies sources to.
/smart_home_backend/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/smart_home_backend/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/smart_home_backend/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/smart_home_backend/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/smart_home_backend/*.ez

# Temporary files, for example, from tests.
/smart_home_backend/tmp/

# Ignore package tarball (built via "mix hex.build").
/smart_home_backend/smart_home_api-*.tar

/smart_home_backend/config/

# dependencies
/smart_home_frontend/node_modules
/smart_home_frontend/.pnp
/smart_home_frontend/.pnp.js

# testing
/smart_home_frontend/coverage

# production
/smart_home_frontend/build

# misc
/smart_home_frontend/.DS_Store
/smart_home_frontend/.env.local
/smart_home_frontend/.env.development.local
/smart_home_frontend/.env.test.local
/smart_home_frontend/.env.production.local

/smart_home_frontend/npm-debug.log*
/smart_home_frontend/yarn-debug.log*
/smart_home_frontend/yarn-error.log*


