.thermostat-card {
    width: 460px;
    height: 280px;

    .indicators {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .thermostat-icon {
            width: 50px;
            height: 50px;
        }
    }
}
