.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper {
    height: 700px;
    width: 550px;
    position: relative;

    .signup-title {
        justify-content: space-between;
        align-items: center;
        justify-self: center;
        width: fit-content;
        display: flex;
        color: white;
        font-size: 50px;
        font-weight: bold;
        width: 400px;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        .backbutton {
            cursor: pointer;
            border: none;
            background-color: transparent;
            svg {
                color: white;
                width: 45px;
                height: 45px;
            }
        }
    }

    .su-firstname-txb {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .su-lastname-txb {
        position: absolute;
        top: 290px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .su-username-txb {
        position: absolute;
        top: 380px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .su-password-txb {
        position: absolute;
        top: 470px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .su-primary-button {
        position: absolute;
        top: 560px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .login-icon {
        height: 100px;
        width: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            color: white;
            width: 60px;
            height: 60px;
        }
    }

    .light {
        top: -50px;
        left: 30px;
    }

    .thermostat {
        top: 400px;
        left: -40px;
    }

    .speaker {
        top: 200px;
        left: 510px;
    }

    .camera {
        top: 650px;
        left: 50px;
    }

    .purifier {
        top: 630px;
        left: 410px;
    }
}
