.purifier-card {
    width: 460px;
    height: 280px;

    .indicators {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.purifier-modal-content {
    padding: 1rem;
    input {
        margin-bottom: 1rem;
    }
}
