.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .room-name {
        color: white;
        font-weight: bold;
        font-size: 25px;
    }

    > svg {
        width: 50px;
        height: 50px;
        color: white;
    }
}
