.profile-buttons {
    display: flex;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.exit-modal-content{
    color: white;
    font-size: 25px;
    margin: 30px;
    text-align: center;
}


.exit-modal-buttons{
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
}