.primary-button input{
    background: rgb(233, 145, 96);
    background: linear-gradient(180deg, rgba(233, 145, 96, 1) 0%, rgba(197, 99, 44, 1) 96%);
    width: 380px;
    height: 60px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 0px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Flex';
    font-weight: 800;
}